*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;  
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
main{
  width: 840px;  
  margin: auto;
  margin-top: 24px;
  border: 1px solid #666;
  border-radius: 6px;
}
header{
  width: 100%;
  height: 80px;
  padding:12px;
  background-color:#666;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo_principal{
  font-size: 36;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}
.subtitulo{
  font-size: 24;
  color: white;
  display: flex;
  justify-content: center;
}
.cuerpo{
  width: 100%;
  height: 400px;
  padding:12px;
}
table{
  width:100%;
  border-collapse: collapse;
}
th{
  text-align:left;
  background-color: #666;
  color: #fff;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 4px;
}
td {
   border-bottom: 1px solid #666
   padding-left: 12px;
   padding-top: 8px;
   padding-bottom: 8px;
 }
tr >td:first-child{
  width: 180px;
}
tr >td:nth-child(2){
  width: 180px;
}
tr >td:nth-child(3){
  width: 180px;
}
tr >td:last-child{
  width: 260px;
}

